@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


.app {
    /* height: calc(100% + 100px); */
    height: 100%;
    position: relative;

}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}